include imagededup/handlers/search/builtin/builtin.h
include imagededup/handlers/search/builtin/README.md
include imagededup/handlers/search/brute_force_cython_ext.pyx
include LICENSE
include requirements.txt